body{
    max-height: 100%;
}
.container {
    padding-left: 1rem;
    padding-right: 1rem;
    flex-direction: column-reverse;
}

#item-1 {
    margin: 0;
}

.items {
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 20%;
}
